# Composer Related
/vendor
/composer.local.json

# Frontend Assets
/node_modules

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache
/build

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet

# Misc
phpstan.neon
testbench.yaml
/docs
/coverage
# BEGIN TYPESCRIPT_TYPES
resources/types/node_modules
# END TYPESCRIPT_TYPES

# Devenv
.devenv*
devenv.local.nix
*-devenv.local.nix

# direnv
.direnv
